{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Odeeffannoo Waa'ee Marsaaritiicha</h1>
        </h2>Kun marsaritii Qophii fi Baankii Lafaa Magaalaa Shaggari.Bulchinsii fi Abbumman Marsaritii kana W/ra Lafaa Magaalaa shaggar yemmuu ta'u,Akkaataa labsii lakk 242/2014 fi dambii lakk.182/2008 fi qajelfama lakk/2015 Hojimaataa qophii fi baankii lafaa hojirraa olchuuf bahe bu'uuraa godhachuun kan qopha'edha.Magaalaa Shaggar keessaattii Tajaajila bulchiinsa fi Itti fayyadamaa lafaa si'ominaa,gahumsaa fi iftoomina qabu ni kennama. Ragaan lafaan walqabatu salphaatti kuusuu,xinxaluu fi qaamaa dhimmi ilaallatuuf tamsaasuuf,akkasumaas ragaan lafaa sirnaan hoogganamee misooma magaalichaa akka deeggaruu fi arifachisuu ni taasisaa.</h>
<p>Tajaajila adda addaa ni kennina, kanneen keessaa:</p>

<li>Hojimaataa qophii fi bankii lafa haqaa qabeessa fi iftominaa qabuu dirirsuu<li>
<li>Bulchiinsa Baankii lafaa Ammayya'aa<li>
<li>Sirnaa Odeffannoo Lafaa waqtawaa fi si'ataa ta'e<li>
<li>Ragaa Qophii fi baankii Lafaa kuusuu,qindessuu fi tamsaasuu<li>
<li>Galmee Qophii fi Baankii Lafaa Ammayya'aa<li>
<li>Lafaa qophae'ee bankii lafatti galma'ee Galii fi Bahii ta'e hordofuu fi to'achuu<li>



<h1>Kaayyoo</h1>
<p>Hojmaata bulchiinsaa fi ittifayyadama lafaa iftoominaa fi si’aayina qabu diriirsuudhaan tajaajila waajjira lafaa keessatti kennamu haqa-qabeessa ta’e, qulqullina qabu,  seeronni lafa magaalaa naannoo Oromiyaa bulchuuf ba’anii jiran magaalicha keessatti karaa guutuu ta’een hojiirra oolchuudhaan fayyadamummaa uummata magaalichaa mirkaneessuu fi karoora misoomaa fi bulchiinsa lafaa magaalichaa akka galma ga’u taasisuu.<p>

<h1>Ergama </h1>
<p> Sirna Bulchiinsaa fi itti fayyadama  Lafaa wayitawaa ta’e diriirsuun, Misooma Lafa irratti gaggeeffamu karaa itti fufiinsa qabuun hogganuun, fayyadamummaa hawaasa Magaalichaa  mirkaneessuu dha.<p>

<h1>Mul’ata</h1>
<p>Bara 2022tti akka Magaalaa Shaggaritti sirna bulchiinsaa fi itti fayyadama lafaa ammayyaa fi pilaanii gahumsa qabuun hogganame diriirsuun mirga fayyadamummaa hawaasa Magaala keenyaa mirkanaa'ee arguudha<p>

<h1>Duudhaalee </h1>
<ul>
    <li>Miira tajaajiltummaa</li>
    <li>Naamusa gaarii</li>
    <li>Iftoomina</li>
    <li>Si’oomina</li> 
    <li>Haqa qabeessummaa</li>
    <li>Hirmaachisummaa</li>
     <li>Qindoomina</li>
     <li>Itti Gaafatamumma</li>
 <ul>
<h1>Gahee hojii ijoo Daayrektoreetii Qophii, Baankii fi Eegumsa Lafaa</h1>

<p>Gahee hojii ijoo Daayrektoreetichaa;</p>
<ul>
<li>1.	Karoora hojii Daarektarichaa qopheessuu, hojiirra oolchuu fi akka hojiirra oolu qaama dhimmi ilaallatuuf dabarsuu;</li>
 <li>2.	Lafa tajaajila adda addaatiif oolu bu’uurri misoomaa guutameef naaf malaa  kamirraayyuu bilisa ta'e adda baasuun  qindeessuu, akka qindaa’u taasisuu, hordofuu;</li>
  <li>3.Filannoowwan dhiyeessii qabeenya lafaa ta’an qorachuun hojiirra oolchuu, akka hojiirra oolu taasisuu;</li>
<li>4.Lafa caalbaasii, ramaddii fi bakka bu’iinsaaf qophaa’e mirkaneessuun hard copy fi soft koppiidhaan qaama dhimmi ilaaluuf dabarsuu, akka darbu taasisuu;</li>
 
<li>5.Lafa tajaajila addaa addaaf oolu kutaa magaalaatiin qophaa’e ragaasaa guutuu  fudhachuu, gosa tajaajilaatiin adda baasuun qabachuu, akkaataa staandaardii fi pilaanii magaalichaatiin qophaa’uusaa mirkaneeffachuu;</li>
<li>6.Lafa qophaa’e pilaaniin kan wal faallessuu fi staandaardiidhaan ala kan ta’e adda baasuun akka sirratee dhufu taasisuu, staandaardiin kan wal hin faallessinee fi pilaaniidhaan kan wal simu mirkaneessuun kutaa magaalaatiif erguu, raawwii isaa hordofuu;</li>
<li>7.Lafa tajaajila adda addaaf oolu ragaa guutuu fi "Site Plan" isaa waliin walharkaa fudhinsa taasifameef baankii lafaa kessa galchuu, akka galu taasisuu, hordofuu;</li>
 <li>8.Lafti tajaajila adda addaatiif oolu baankii lafaa gale hanga dabarfamee qaama misoomsuuf kennamutti akka hin qisaasamne to’achuu, to'aannoon akka godhamuuf  taasisuu;</li>
<li>9.Lafa tajaajilaa adda addaaf qophaa'e site pilaanii waliin qindaa’ee akka dhiyaatu gochuu, saayit pilaanii qophaa’ee dhiyaate pilaanii magaalaa waliin mirkaneeffachuu;</li>
 <li>10.Ragaa guutuu lafa tajaajila adda addaatiif oolu qophaa’e qaama dhimmi ilaallatuuf dabarsanii kennuu, akka kennamu taasisuu;</li>
<li>11.Shinishaanoo lafaa gaggeessuu, dhagaa daangaa kabachiisu ykn chikaala dhaabuu, akka dhaabbatu taasisuu; </li>
<li>12.Lafa misooma albuudaaf oolu qaama birootiin hin qabamne/tajaajila birootiif kan hin oolle ta'uu qulqulleessuun ragaa isaa guutuu qabachuu, akka qabamu taasisuu;</li>
<li>13.Gaaffii fedhii lafaa misoomaa addaa addaaf ooluu qaama dhiyeeterraa simachuun ragaawwan dhiyaatan akkaataa duraa duuba isaaniitiin qindeessuun qabachuu, lafa gaafatame qopheessuu, ragaa lafa qophaa’ee akkaataa murtiif ta’utti xiinxaluun hoogganaa dhiyoof soft koppii fi hard koppiidhaan qindeessuun dhiyeessuu fi yeroo murtaa’etti garee dabarsa lafaatiif kennuu, akka kennamu taasisuu;</li>
<li>14.Sarveeyiingii lafaa ulaagaasaa eeggate gaggeessuun bu’aa isaa qaama ilaallatuuf dhiyeessuu, bu’uura sarveeyiingii irratti hundaa’uun dirreetti argamuun mallattoo daangaa kabachiisu dhaabuun baankiitti galachuu akka galu taasisuu, hordofuu;</li>
 <li>15.Lafa qophaa’ee shinishaanoon isaa raawwate bu’uuraalee misoomaa kan barbaachisu yoo ta’e qaama bu’uuraalee misoomaa hojjetuuf dabarsuu, bu’uuraaleen misoomaa erga diriireen booda lakkoofsa shinishaanoo itti kennuun kaartaa bu’uura irratti galmeessuu, lafa bu’uuraaleen misoomaa guutameef baankii lafaatti galchuun eegumsa taasisuu, hordofuu; </li>
<li>16.Gaaffii dursa misoomsuu simachuun lafa qopheessuu, ragaan dhiyaate guutuu ta’uusaa mirkaneeffachuu, hojii lafa sirreessuu staandaardii fi pilaanii bu’uureffate gaggeessuu, lafa sirratee qophaa’e mirkaneessuu, akkataa waliigalteetiin hojjatamuusaa hordofuu;</li>
<li>17.Qabiyyee durii fi ijaarsa seeraan alaa dambiin duraa inventariidhaan adda bahe seera qabeessa akkaataa ta’uu danda’uun istaandaardii eegee shinishaanoo isaa ni raawwata, akka raawwatu ni taasisa, ni hordofa; </li>
 <li>18.Ragaa kaatota misoomaa funaanuu, qindeessuu fi qaama dhimmi ilaaluuf dabarsuu, akka darbu taasisuu;</li>
<li>19.Namoota sababa misoomaatiif akka ka’aniif karoorfame waliin dursa marii gaggeessuu, akka gaggeeffamu taasisuu, hordofuu fi deeggaruu;</li>
 <li>20.Kaffaltii beenyaa gabaa yeroo irratti hundaa’e (akkaataa seeraatiin) shallaguu, akka shallagamuu fi kaffalamu taasisuu, deeggaruu fi hordofuu;</li>
<li>21.	Karoora qophii lafaa bu’uureffachuun baajata kaffaltii beenyaatiif barbaachisu qabsiisuu, akka qabamu qaama dhimmi ilaallatu beeksisuu;</li>
<li>22.Lafa ijaarsa irratti jalqabamee waliigalteen liizii adda cite tilmaama qabeenyaa irra jiruu hojjachuu, akka hojjatamu taasisuu;</li>
<li>23.	Gatii baaqqee qabeenyaa qorachuun qaama dhimmi ilaallatuuf dhiyeessuun mirkaneessisuu, yeroo mirkanaa’e hojiirra oolchuu, akka hojiirra oolu taasisuu, hordofuu;</li>
<li>24.	Kaffaltii beenyaa namoota sababa misooma addaa addaan lafa isaaniirraa ka’aniif kaffalamu keessatti iftoominaan, si’ayinaa fi qulqullinaan raawwachuu, akka raawwatamu taasisuu, hordofuu fi deeggaruu; </li>
<li>25.Kaatota misoomaa lafa bakka bu’iinsaa bu’uura seeraatiin argachuu qabaniif dursee lafa qopheessuu, akka qophaa’u taasisuu, deeggaruu fi hordofuu;</li>
 <li>26.Hoj-maanni abbootiin qabiyyee lafa isaaniirraa buqqa’uun dura qophiin haaldureewwan taasifamuu qabu taasifamuusaa mirkaneeffachuun akkaataa barbaachisummaasaatti dhugummaa isaa ni hordofa, hanqina jiru irratti tarkaanfiin sirreeffamaa akka fudhatamu  taasisa;</li>
<li>27.Kaffaltii beenyaa haala mirkanaa’een (labsii, dambii fi qajeelfama gidduu galeessa godhateen) hojiirra oolchuu, akka hojiirra oolu gochuu, hojiirra ooluusaa hordofuu;</li>
<li>28.Ragaawwan tilmaama beenyaatiif barbaachisan qaama ilaallatu irraa funaanuu, akka funaanamu taasisuu, ragaawwan funaanaman mirkaneeffachuu;</li>
 <li>29.Shallaggii beeyaa qabeenyaa/lafa magaalaa qaama dhimmi ilaalu waliin ta’uun gaggeessuu, akka gaggeeffamu taasisuu, bu’aa shallaggii beenyaa gaggeeffamee osoo kaffaltiin hin gaggeeffamiin dura sirrummaa isaa mirkaneeffachuu, akka mirkanaa’u taasisuu;</li>
<li>30.	Kaffaltii beenyaa qabeenya isaanii irraa osoo hin ka’iin dursee raawwatamuu isaa hordofuu;</li>
 <li>31.Magaalaa keessatti iddoowwan deebisanii misoomsuuf oolu akkaataa duraa duuba isaatiin qorannoo gaggeessuu, iddoowwan tajaajila addaa addaaf oolan adda baasuu, buqqaatotaaf beenyaa fi iddoon bakka bu’iinsaa akka kennamu taasisuu, hordofuu;</li>
<li>32.Namoota qabiyyee isaanii irraa misoomaaf kaafaman deebi’anii akka of danda’an qaama dhimmi ilaalu waliin hojjechuu, hordofuu fi to’achuu;</li>
<li>33.Lafa beenyaan itti kaffalame ragaasaa guutuu X,Y koordineetiisaa waliin adda baasuun galmeessee qabachuu, akka qabamu taasisuu, kaartaa bu’uuraa irratti galmeessuun hordofuu;</li>
<li>34.Qabiyyee shinishaanoo isaa sirreessuu, akka sirratu taasisuu (physical Regularization) lafa misoomaaf ooluu dandanda’uu  adda baasuun qabachuu, akka qabamu taasisuu;</li>
<li>35.Iddoowwan misoomaaf adda bahan daangaa isaa kabachiisuu, akka kabajamu taasisuu, iddoowwan adda bahan hard copy fi soft copy’n ragaasaa qindeessuu, akka qindaa’u taasisuu; </li>
<li>36.Ragaa iddoowwan beenyaan itti kaffalamee shinishaanoo ni gaggeessa, akka gaggeeffamu ni taasisa, ni hordofa;</li>
 <li>37.Dhaabbilee bu’uuraalee misoomaa diriirsan waliin karoora waliinii baafachuun raawwii isaa hordofuu;t</li>
<li>38.Lafa tajaajila addaa addaaf oolu qaama gaafateef baankii lafaa keessaa baasuun kennuu, akka kennamu taasisuu, yeroo qaama misoomsuuf darbee kennamu kaartaa bu’uuraa irratti galmeessuu, akka galmaa’u taasisuu;</li>
 <li>39.Iddoowwan duuwwaa galmaa’anii baankii lafaatti galan taappeellaa dhaabuu, akka dhaabbatu gochuu fi dhaabachuu isaa hordofuu;</li>
<li>40.Qabiinsa baankii lafaa ammayyeessuuf haalota barbaachisan qorachuun dhiyeessuu, akka mirkanaa’u taasisuu, yeroo mirkanaa’e hojiirra oolchuu, hojiirra ooluusaa hordofuu;</li>
<li>41.Lafa hin misoomiin baankii lafaa keessa jiru adda baasuun qaama misoomsuuf dabarsuu, akka darbu taasisuu;</li>
<li>42.Lafa baankii lafaa keessatti galmaa’e akkaataa foormaatii jiruutiin ragaasaa guutuu waliin qaama dhimmi ilaallatu waliin wal harkaa fuudhinsa taasisuu, hordofuu;</li>
<li>43.Lafa beenyaan itti kaffalame, inventeriin argame, qaama seeraan ala qabaterraa deebi’e, barri tajaajilaa (liizii) dhume, waliigalteen addaan cite koodii addaa kennuufiidhaan X,Y koordineetiisaa waliin baankii lafaatti galchuu, akka galu taasisuu, galuusaa hordofuu;</li>
<li>44.Ragaa Lafa bu’uuraaleen misoomaa guutameefii qophaa’e qindeessuu, dirreerratti argamuun daangaa isaa kaa’uu, baankii lafaatti galchuu, akka galu taasisuu, hordofuu;</li>
 <li>45.Hojiileen karoorfaman akkaataa karooraan rawwatamuu isaa hordofuu, bakka hanqinni jirutti tarkaanfii sirreeffamaa fudhachuu;</li>
 <li>46.Gabaasa hojii yeroosaa eeggate qaama dhimmi ilaallatuuf dabarsuu, akka darbu taasisuu, hordofuu;</li>
<li>47.	Hojii dabalataa hoogganaa dhiyoorraa kenname hojjachuu;</li>
</ul>
        <h1>About This Page</h1>
        <p>Welcome to the official website of the Land Bank of Shegar City. We are dedicated to providing efficient and transparent land management services for the city of Shegar. Our mission is to ensure that land-related data is easily accessible and properly managed to support the city's development initiatives.</p>
        
        <h2>Our Services</h2>
        <p>We offer a range of services, including:</p>
        <ul>
            <li>Land data management</li>
            <li>Geographic Information System (GIS) mapping</li>
            <li>Shapefile uploads and processing</li>
            <li>Land allocation and assessment</li>
        </ul>

        <h2>Our Mission</h2>
        <p>Our mission is to support the development of Shegar City by providing transparent and reliable land management services. We aim to use cutting-edge technology to ensure that land records are up-to-date, accurate, and easily accessible to our citizens.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to contact us:</p>
        <ul>
            <li>Email: shegarlaofficial@gmail.com</li>
            <li>Address: Shegar City, Ethiopia</li>
        </ul>
    </div>
{% endblock %}