{% extends 'base.html' %}
{% block content %}
<h2>Terms of Service</h2>
<p>Our services facilitate the management of land bank data to promote organized urban development. By using our platform, users agree to comply with the legal requirements and maintain accuracy in data submission related to land holdings, usage, and banking.</p>
<p>Access to this service is restricted to authorized users. The Shegar Land Office reserves the right to modify these terms as necessary to improve service and data integrity.</p>
{% endblock %}